.mybooking .bg{
  position: fixed !important;
top: 5vh !important;
z-index: 1000;
width: 80%;
left: 10%;
}

.mybooking .modal-dialog{
  max-width:10000px;
}
.mybooking .close{
  left:85%;
}

@media (max-width: 480px) {
  .mybooking .bg{
  width: 100%;
  left:0%;
  }
  .mybooking .modal-dialog{
    overflow-y: initial !important
  }
  .mybooking #prenot-modal-content{
      height: 80vh;
      overflow-y: auto;
  }
}

#riepilogodiv{
  line-height: 2 !important;
text-align: left !important;
}
