:global(body){
  margin: 0;
  text-align: center;
  padding: 0px;
  border:0px;
  height: 100%;
  overflow: hidden;
  font-size: 1.9vw;
  font-weight: 100;
  }
main{

  margin: 0px;
  padding: 0px;
  border:0px;
  height: 100% !important;
  background-image:
      /* top, transparent red */
      linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
      /* your image */
      url("../background.jpg") !important;

  /*background-image: url("../background.jpg");
  backdrop-filter: opacity(20%);*/
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
  }

#appcont{
  position: absolute;
  width: 80%;
  z-index: 0;
  left: 10%;
}
.searchlink:hover{
  text-decoration: none;
}
.searchlink{
  text-decoration: none;
  height: 100% !important;
}

@media (min-width: 640px) {
  main {
    max-width: none;
  }
}

@media (max-width: 480px) {

#appcont{
  overflow-y: scroll;
  overflow-x: hidden;
  left:0;
  scrollbar-color: gb(100, 149, 237) rgba(0,0,0,0);
  height:100%;
  position: relative;
  width:100%;
}
#principalsearch{
  width:100%;
}



#titolo{
  font-size: 16vw !important;

}
#benvenuto{
  font-size: 8vw !important;
}
#basso, .search-label, .search-button, .search-input, button {
  font-size: 4vw !important;

}
.search-element{
  width:100% !important;
  border-bottom: 1px solid rgba(10,10,10,.1);
  border-radius: 5px !important;
  margin-bottom: 3vh;
}
.ricerca{

}
.product-search{
  display:table !important;
  width:100%;
  padding: 0 !important;

}

#finalbutton{
  display: flex !important;
  margin:0vw 15vw 20vw 15vw;
}

.button-div{
  margin-top: 0.5vh;
}
.signature-div{
  font-size: 3vw;
}

* {
  font-size:inherit;
}

}
*, *::before, *::after { box-sizing: border-box; }

#titolo{
  grid-area: head1;
  font-family: 'Lobster', cursive;
  color: rgb(100, 149, 237);
  font-size: 8vw;
  text-align: center;
}
#benvenuto{
  grid-area: head2;
  font-size: 2.1vw;
  text-align: center;
}

.ricerca{
    grid-area: barra;
}

.product-search {
  display: flex;
  border-radius: 5px;
  margin: 0 auto;
  cursor: pointer;
  }

.search-element {
  display: flex;
  height:100%;
  background: white;
  flex-grow: 2;
  flex-direction: column;
  border-right: 1px solid rgba(10,10,10,.1);
  padding: 1em;
}

.search-label {
  font-weight: 550;
  font-size: 1.9vw;
}

.search-input {
  border: none;
  appearance: none;
  outline: none;
  height: 100%;
  font-size: 1.9vw;
  line-height: 1.2em;
  margin-top: 5px;
}

.search-input:focus {
  box-shadow: 0px 2px 0px 0px rgb(65, 105, 225)
}

.search-button {
  flex-grow: 1;
  text-align: center;
  font-size: 1.5vw;
  font-weight: 300;
  border: 0;
  padding: 1em;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: white;
  background-color: rgb(100, 149, 237);

  border-right: 1px solid rgba(10,10,10,.1);
  display: flex;
  justify-content: center; /* align horizontal */
  align-items: center; /* align vertical */

  height: 100% !important;
  border-radius: 5px !important;
}
a {
  text-decoration: none;
}

.search-button:hover {
  background-color: #1859c9db
}

#basso {
  grid-area: basso;
  padding:2em;
  font-size: 2.1vw;
  margin-top: 20px;
  text-align: center;
}

#finalbutton{
 display: inline;
 border-top-left-radius: 5px;
 border-bottom-left-radius: 5px;
}

.button-div {
  z-index:1;
  width: 20vmin;
  height: 10vmin;
  min-width: 120px;
  position: absolute;
  top: 10px;
  right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  padding: 0px;
}

.signup-button {
  justify-content: center;
  align-items: center;
  font-weight: 300;
  height: 55px;
  width: 4em !important;
  margin-right: 7px;
  border: none;
  border-radius: 5px;
  background-color: #e9ecf0;
  cursor: pointer;
}
/**/
.login-button {
  justify-content: center;
  align-items: center;
  font-weight: 300;
  width: 4em;
  height: 55px;
  border: none;
  border-radius: 5px;
  color: #fff;
  background-color: rgb(100, 149, 237);
  cursor: pointer
}

.login-button:hover {
  background-color: #1859c9db
}

.signup-button:hover {
  background-color: #e9ecf0d1
}

.signature-div {
z-index:1;
width: 20vw;
height: auto;
position: fixed;
bottom: 10px;
right: 5vw;
display: flex;
justify-content: center;
align-items: center;
padding: 0px;
font-weight: 500
}

button:focus{
  outline: none !important;
}
