

.home{
  display:flex;
  overflow-y: scroll;
  scrollbar-color: gb(100, 149, 237) rgba(0,0,0,0);
  height:100%;
  position: relative;
  overflow: auto;
  width:100%;
  top:0px !important;
}

.home {
  width: 90%;
  height: 100%;
  width:100%;
  z-index: 1;
  top:0%;
  bottom: 0%;
  justify-content: center;
}

 .descrip{
  font-size: 1.4vw !important;
  color: var(--mycolor) !important;
  font-weight:550 !important;
  padding:0.5em;
  background-color: white !important;
  border:none;
  width:100%;
  height: 3em;
}
.home   .product-search{
  font-size: 0.3em;
}
.home   .search-label, .home   .search-input,.home   .search-button{
  font-size:1.4vw ;
  height:100% !important;
}
.home  #titolo{
  grid-area: titolo;
  font-size: 6vw;
}

.home   .dis {
  grid-area:display;
  margin: 1em;
  padding-bottom: 2em;
}
.home .card {
  height:100% !important;
}


@media (max-width: 480px) {

  .home   {
    position: absolute;
    width: 100%;
    height: 99%;
    z-index: 0;
    top: 1%;
    bottom: 5%;
    display: flex;
    justify-content: center;
  }

.home #titolo{
  font-size: 7vw !important;
  text-align: left;
}

.home .search-element{
  margin-bottom: 1vw;
}

.descrip{
  margin-top: 3vw;
 font-size: 4vw !important;

.search-label, .search-button, .search-input, button {
  font-size: 4vw !important;

}
.home .search-element{
  width:100% !important;
  border-bottom: 1px solid rgba(10,10,10,.1);
  border-radius: 5px !important;
  margin-bottom: 0.2vh;
}
.dis{

}
.product-search{
  display:table !important;
  width:100%;
  padding: 0 !important;

}
.search-button{
  height: auto !important;
  border-radius: 5px !important;
}
#finalbutton{
  display: flex !important;
  margin:0vw 15vw 20vw 15vw;
}

.signature-div{
  font-size: 3vw;
}

* {
  font-size:inherit;
}

}
.btn-check{
  border:none;
  background:white;
  padding-top:0px;
}

.mt-50 {
    margin-top: 50px
}

.mb-50 {
    margin-bottom: 50px
}

.card {
    height: 100vh !important;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: .1875rem
}

.card-img-actions {
    position: relative
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
    text-align: center
}

.card-img {
    width: 350px
}

.star {
    color: red
}

.bg-cart {
    background-color: orange;
    color: #fff
}

.bg-cart:hover {
    color: #fff
}

.bg-buy {
    background-color: green;
    color: #fff;
    padding-right: 29px
}

.bg-buy:hover {
    color: #fff
}

a {
    text-decoration: none !important
}
