:root {
  --mycolor:rgb(250, 84, 26);
}

.bg{
  width:100%;
}

.modal-title{
  color: var(--mycolor);
  line-height: 1;
  font-size: 2.5vw;
  font-weight: 600;
}


.mymodal{
  padding-top: 10%;
}

.modal-content{

  z-index:20;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
      -webkit-box-shadow:  0px 0px 200px 200px rgba(0,0,0,0.5);
      -moz-box-shadow:  0px 0px 200px 200px rgba(0,0,0,0.5);
      box-shadow:  0px 0px 200px 200px rgba(0,0,0,0.5);
      -webkit-background-clip: padding-box;
      -moz-background-clip: padding-box;
      background-clip: padding-box;
}

.btn-outline-warning{
  border-color: var(--mycolor) !important;
  color: var(--mycolor) !important;
}

.btn-outline-warning:hover{
  background-color: var(--mycolor) !important;
  color: white !important;
}
.btn-outline-warning:active{
  background-color: var(--mycolor) !important;
}

 .form-control:focus{
  border-color: var(--mycolor) !important;
  box-shadow: 0 0 .2rem var(--mycolor) !important;
}

button:not(:disabled):active {
    background-color: rgba(0,0,0,0);
}

.close {
  z-index: 30;
  position: fixed;
  left: 65%;
  top: 3vh;
  width: 33px;
  height: 33px;
  opacity: 0.8;
  display: flex;
  align-self: center;
  border-radius: 10px;
background-color: rgba(0,0,0,0);
border: none;
}
.close:hover {
  opacity: 1;
}
.close:before, .close:after {
  position: absolute;
  content: ' ';
  height: 33px;
  width: 3px;
  top: 0px;
  background-color: white;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}

.form-check-input:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,0) !important;
}
.form-check-label{
  color:  var(--mycolor);
}
.form-check-input{
  background-color:  var(--mycolor) !important;
}

@media (max-width: 480px) {
.close{
  left: 90%;
top: 10px;
}
.modal-title{
  font-size: 7vw;
}
.prenotazione{
}
}

.modal-footer .button-div{
  position:inherit !important;
}
.nolosign .modal-dialog{
  max-width: 500px !important;
}
.nolosign .close{
  position:relative !important;
}
.nolosign .signupmodal1{
  padding-top: 0% !important;
}
#prenot-modal-content{
  height: 80vh;
  overflow:auto;
}
