#personaltabs .box {
  margin-bottom: 10px;
  padding: 40px;
  border: 1px solid #dee2e6;
  border-radius: 0 0 .5rem .5rem;
  border-top: 0;
    background-color: white;
}
#personaltabs ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  border-bottom: 1px solid #dee2e6;
}
#personaltabs li {
  margin-bottom: -1px;
}

.personalbutton {
  border: 1px solid transparent;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 0.5rem 1rem;
}


li.active > .personalbutton {
  color: #495057;
  background-color: #fff;
  border-color: #dee2e6 #dee2e6 #fff;
}

li.active > .personalbutton:focus {
  border-color: var(--mycolor);
}
