#background {
  position: absolute;
  opacity: 0.3;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
}

/****************************************/

body {
  overflow-y: hidden;
}

@media only screen and (max-width: 600px) {
  body {
    overflow-y: auto;
  }
}

/****************************************/

body * {
  -ms-overflow-style: none;
  scrollbar-width: none;  
}

body::-webkit-scrollbar {
  display: none;
}

/****************************************/

@media only screen and (max-width: 600px) {
  #the_nav li {
    max-width: 25%;
  }
}

#the_nav li {
  background-color: #eeeeee;
  align-content: center;
}

#the_nav a {
  color: black;
}

#the_nav .active {
  background-color: #3674E7;
}

#the_nav .active {
  color: white;
}

/****************************************/

.card {
  overflow-y: scroll;
  max-height: 65vh;
}

@media only screen and (max-width: 600px) {
  .card {
    max-height: 100%;
  }
}
